[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = warrior
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = warrior
[submodule "meta-moco"]
	path = meta-moco
	url = git@bitbucket.org:schoenerone/meta-moco.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = warrior
